.service_background {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 350px;
    display: flex;
    /* z-index: 5; */
}
.service_background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #2c2b2bf5 0%, rgba(30, 28, 28, 0.76) 30%, rgba(10, 10, 10, 0.77) 50%, rgba(26, 25, 25, 0.77) 100%);
}
.service_background img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home_section {
    position: relative;
    width: 1320px;
    display: flex;
}
.home_section .home_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_heading_section {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}
.about_heading_section h2 {
    position: relative;
    color: var(--light-color);
    font-size: 47px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}
.about_heading_section h2 span {
    color: var(--theme-color);
}
.about_heading_section p {
    position: relative;
    color: var(--light-color);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

/* =========  contact_us_section ========== */
.contact_us_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}     
.contact_us_section .sec_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact_us_section .sec_head a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.contact_us_section .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.contact_us_section .sec_head h3 span {
    color: var(--theme-color);
}       
.contact_us_section .contact_sec_content {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
}       
.contact_us_section .contact_sec_content .contact_form {
    position: relative;
    width: calc(100% - 400px);
    display: flex;
}       
.contact_us_section .contact_sec_content .contact_form form {
    position: relative;
    width: 100%;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    
.fullwidth {
    width: 100%;
}   
.halfwidth {
    width: 48%;
}   
.contact_us_section .contact_sec_content .contact_form form .input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}       
.contact_us_section .contact_sec_content .contact_form form .input_box span {
    position: relative;
    font-size: 13px;
    color: var(--gray-color);
    font-weight: 400;
}       
.contact_us_section .contact_sec_content .contact_form form .input_box input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}    
.contact_us_section .contact_sec_content .contact_form form .input_box textarea {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 10px;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
    resize: none;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}    
.contact_us_section .contact_sec_content .contact_form form .btn_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: flex-start;
}    
.contact_us_section .contact_sec_content .contact_form form .btn_sec button {
    position: relative;
    padding: 8px 25px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background: var(--theme-color);
    cursor: pointer;
    color: var(--light-color);
}    
.contact_us_section .contact_sec_content .contact_items {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background: var(--blue-color);
    border-radius: 12px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box:last-child {
    margin-bottom: 0;
}       
.contact_us_section .contact_sec_content .contact_items .item_box h6 {
    position: relative;
    font-size: 17px;
    color: var(--light-color);
    font-weight: 600;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li {
    position: relative;
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li p {
    position: relative;
    font-size: 13px;
    color: var(--light-color);
    font-weight: 400;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li p span {
    margin-left: 7px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec a {
    position: relative;
    width: 35px;
    height: 35px;
    background: var(--theme-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li a:last-child {
    margin-right: 0;
}

/* ============ client_section ======== */

.client_section {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
.client_section .client_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.client_section .client_head a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.client_section .client_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.client_section .client_head h3 span {
    color: var(--theme-color);
}
.client_section .client_content_sec {
    position: relative;
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;
}     
.client_section .client_content_sec .swiper {
    position: relative;
    width: 100%;
    display: flex;
}     
.client_section .client_content_sec .swiper .swiper-slide {
    position: relative;
    width: 40%;
    background: var(--grey-background-2);
    border-radius: 10px;
    margin-right: 15px;
    padding-bottom: 15px;
}
.client_section .client_content_sec .swiper .swiper-slide:last-child {
    margin-right: 0;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .profile_sec {
    position: relative;
    width: 100px;
    background: var(--theme-color);
    padding: 10px 15px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    border-top-left-radius: 10px;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .profile_sec .avatar {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    background: var(--light-background);
    padding: 3px;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .profile_sec .avatar img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec {
    position: relative;
    width: calc(100% - 100px);
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .info {
    position: relative;
    display: flex;
    flex-direction: column;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .info h4 {
    position: relative;
    font-size: 16px;
    color: var(--dark-color);
    font-weight: 600;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .info span {
    position: relative;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .info .rating {
    position: relative;
    display: flex;
    align-items: center;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .info .rating i {
    position: relative;
    font-size: 11px;
    color: var(--orange-color);
    margin-right: 6px;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .info .rating a {
    position: relative;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 500;
    text-decoration: none;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_header .description_sec .quote_icon {
    width: 40px;
    height: 40px;
    background: var(--light-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    font-size: 18px;
    margin-left: auto;
}
.client_section .client_content_sec .swiper .swiper-slide .testimonial_card .testimonial_text {
    position: relative;
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
    color: var(--gray-color);
    font-weight: 400;
    line-height: 1.7;
    padding: 0 15px;
    text-align: center;
}
.client_section .client_content_sec .pagination {
    position: relative;
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.client_section .client_content_sec .pagination .swiper-pagination {
    position: relative;
    transform: translate(0);
    left: 0;
}
.client_section .client_content_sec .pagination .swiper-pagination span.swiper-pagination-bullet {
    width: 25px;
    height: 5px;
    border-radius: 30px;
    background: var(--gray-color) !important;
    transition: all 0.5s ease;
}
.client_section .client_content_sec .pagination .swiper-pagination span.swiper-pagination-bullet-active {
    width: 25px;
    height: 5px;
    border-radius: 30px;
    background: var(--theme-color) !important;
    transition: all 0.5s ease;
}

/* =========== faq_section ======== */

.faq_section {
    position: relative;
    width: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}
.faq_section .sec_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.faq_section .sec_head a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.faq_section .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.faq_section .sec_head h3 span {
    color: var(--theme-color);
}
.faq_section .faq_content_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.faq_section .faq_content_sec .faq_box {
    position: relative;
    width: 49%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
.faq_section .faq_content_sec .faq_box:last-child {
    margin-bottom: 0;
}
.faq_section .faq_content_sec .faq_box .box_top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq_section .faq_content_sec .faq_box .box_top h6 {
    position: relative;
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 500;
}
.faq_section .faq_content_sec .faq_box .box_top a {
    position: relative;
    font-size: 14px;
    color: var(--dark-color);
    text-decoration: none;
    cursor: pointer;
}
.faq_section .faq_content_sec .faq_box .box_top a i {
    transition: transform 0.3s ease;
}
.faq_section .faq_content_sec .faq_box.active .box_top a i {
    transform: rotate(180deg);
}
.faq_section .faq_content_sec .faq_box .box_bottom {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    border-top: transparent;
    transition: all 0.3s ease;
}
.faq_section .faq_content_sec .faq_box.active .box_bottom {
    max-height: 200px;
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid var(--gray-color);
    transition: all 0.3s ease;
}
.faq_section .faq_content_sec .faq_box .box_bottom p {
    position: relative;
    width: 100%;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
}

