.service_background {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 350px;
    display: flex;
    /* z-index: 5; */
}
.service_background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #2c2b2bf5 0%, rgba(30, 28, 28, 0.76) 30%, rgba(10, 10, 10, 0.77) 50%, rgba(26, 25, 25, 0.77) 100%);
}
.service_background img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_section {
    position: relative;
    width: 1320px;
    display: flex;
}
.home_section .home_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_heading_section {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}
.contact_heading_section h2 {
    position: relative;
    color: var(--light-color);
    font-size: 47px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}
.contact_heading_section h2 span {
    color: var(--theme-color);
}
.contact_heading_section p {
    position: relative;
    color: var(--light-color);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

/* =========  contact_us_section ========== */
.contact_us_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}     
.contact_us_section .sec_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact_us_section .sec_head a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.contact_us_section .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.contact_us_section .sec_head h3 span {
    color: var(--theme-color);
}       
.contact_us_section .contact_sec_content {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
}       
.contact_us_section .contact_sec_content .contact_form {
    position: relative;
    width: calc(100% - 400px);
    display: flex;
}       
.contact_us_section .contact_sec_content .contact_form form {
    position: relative;
    width: 100%;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    
.fullwidth {
    width: 100%;
}   
.halfwidth {
    width: 48%;
}   
.contact_us_section .contact_sec_content .contact_form form .input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}       
.contact_us_section .contact_sec_content .contact_form form .input_box span {
    position: relative;
    font-size: 13px;
    color: var(--gray-color);
    font-weight: 400;
}       
.contact_us_section .contact_sec_content .contact_form form .input_box input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}    
.contact_us_section .contact_sec_content .contact_form form .input_box textarea {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 10px;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
    resize: none;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}    
.contact_us_section .contact_sec_content .contact_form form .btn_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: flex-start;
}    
.contact_us_section .contact_sec_content .contact_form form .btn_sec button {
    position: relative;
    padding: 8px 25px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background: var(--theme-color);
    cursor: pointer;
    color: var(--light-color);
}    
.contact_us_section .contact_sec_content .contact_items {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background: var(--blue-color);
    border-radius: 12px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box:last-child {
    margin-bottom: 0;
}       
.contact_us_section .contact_sec_content .contact_items .item_box h6 {
    position: relative;
    font-size: 17px;
    color: var(--light-color);
    font-weight: 600;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li {
    position: relative;
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li p {
    position: relative;
    font-size: 13px;
    color: var(--light-color);
    font-weight: 400;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li p span {
    margin-left: 7px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec a {
    position: relative;
    width: 35px;
    height: 35px;
    background: var(--theme-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li a:last-child {
    margin-right: 0;
}

.map_sec {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
}
.map_sec iframe {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    border: none;
}

/* ============ subscribe_sec ======== */

.subscribe_sec {
    position: relative;
    width: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}
.subscribe_sec .subscribe_heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.subscribe_sec .subscribe_heading a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.subscribe_sec .subscribe_heading h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.subscribe_sec .subscribe_heading h3 span {
    color: var(--theme-color);
}
.subscribe_sec .subscribe_content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.subscribe_sec .subscribe_content .input_box {
    position: relative;
    width: 450px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border: 1px solid var(--gray-color);
    border-radius: 30px;
}
.subscribe_sec .subscribe_content .input_box a {
    position: relative;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: var(--theme-color);
    border: 1px solid var(--gray-color);
    border-radius: 50%;
}
.subscribe_sec .subscribe_content .input_box input {
    position: relative;
    width: calc(100% - 30px);
    height: 100%;
    padding-left: 15px;
    font-size: 13px;
    color: var(--dark-color);
    outline: none;
    border: none;
}
.subscribe_sec .subscribe_content button {
    position: relative;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    background: var(--theme-color);
    color: var(--light-color);
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}


@media (max-width: 1440px) {
    .home_section {
        width: 1024px;
    }
}
@media (max-width: 1099px) {
    .home_section {
        width: 100%;
        padding: 0 50px;
    }
}
@media (max-width: 991px) {
    .contact_us_section .sec_head h3 {
        font-size: 21px;
        font-weight: 600;
        margin: 0;
    }
    .contact_us_section .contact_sec_content .contact_form {
        width: calc(100% - 300px);
    }
    .contact_us_section .contact_sec_content .contact_form form {
        padding-right: 25px;
    }
    .contact_us_section .contact_sec_content .contact_items {
        width: 300px;
        padding: 15px;
    }
    .map_sec {
        margin-top: 30px;
    }

    .subscribe_sec {
        padding: 30px 0;
    }
    .subscribe_sec .subscribe_heading h3 {
        font-size: 21px;
        font-weight: 600;
        margin: 0;
    }
}
@media (max-width: 876px) {
    .home_section{
        padding: 0 30px;
    }
    .contact_us_section .sec_head h3 {
        font-size: 19px;
    }
    .contact_us_section .contact_sec_content .contact_form form .input_box {
        width: 100%;
    }
    .halfwidth {
        width: 100%;
    } 
    .contact_us_section .contact_sec_content .contact_form form .input_box span {
        font-size: 12px;
    }
    .contact_us_section .contact_sec_content .contact_form form .input_box input {
        height: 35px;
        font-size: 12px;
    }
    .contact_us_section .contact_sec_content .contact_form form .input_box textarea {
        height: 90px;
        font-size: 12px;
    }
    .contact_us_section .contact_sec_content .contact_form form .btn_sec button {
        font-size: 12px;
    }
    .contact_us_section .contact_sec_content .contact_items .item_box h6 {
        font-size: 15px;
        font-weight: 500;
    }
    .contact_us_section .contact_sec_content .contact_items .item_box li p {
        font-size: 12px;
    }
    .contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec a {
        font-size: 14px;
    }
    .subscribe_sec .subscribe_heading h3 {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    .contact_us_section .contact_sec_content .contact_form {
        width: calc(100% - 260px);
    }
    .contact_us_section .contact_sec_content .contact_items {
        width: 260px;
    } 
}
@media (max-width: 678px) {
    .home_section {
        padding: 0 15px;
    }
    .map_sec iframe {
        height: 270px;
    }
    .service_background {
        height: 280px;
    }
    .contact_heading_section {
        height: 280px;
    }
    .contact_heading_section h2 {
        font-size: 30px;
        font-weight: 600;
    }
    .contact_heading_section p {
        font-size: 12px;
        font-weight: 400;
    }
}
@media (max-width: 575px) {
    .contact_us_section .sec_head a {
        font-size: 13px;
        font-weight: 400;
    }
    .contact_us_section .sec_head h3 {
        font-size: 17px;
    }
    .contact_us_section .contact_sec_content {
        flex-direction: column;
        margin-top: 20px;
    }    
    .contact_us_section .contact_sec_content .contact_form {
        width: 100%;
    }
    .contact_us_section .contact_sec_content .contact_form form {
        padding-right: 0;
    }
    .contact_us_section .contact_sec_content .contact_items {
        width: 100%;
        margin-top: 15px;
    } 
    .contact_us_section .contact_sec_content .contact_items .item_box h6 {
        font-size: 14px;
    }
    .subscribe_sec .subscribe_heading a {
        font-size: 13px;
        font-weight: 400;
    }
    .subscribe_sec .subscribe_heading h3 {
        font-size: 17px;
    }
    .subscribe_sec .subscribe_content {
        margin-top: 20px;
    }
    .subscribe_sec .subscribe_content .input_box {
        height: 40px;
    }
    .subscribe_sec .subscribe_content .input_box a {
        width: 25px;
        font-size: 12px;
    }
    .subscribe_sec .subscribe_content .input_box input {
        width: calc(100% - 25px);
        font-size: 12px;
    }
    .subscribe_sec .subscribe_content button {
        width: 150px;
        height: 40px;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 450px) {
    .contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec a {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}
