.footer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--blue-color);
    padding: 20px 0;
}
.footer .footer_top {
    position: relative;
    width: 1320px;
    padding: 30px 0;
    border-bottom: 1px solid var(--light-color);
}

.footer .footer_top .top_inner {
    position: relative;
    width: 100%;
    display: flex;
}
.footer .footer_top .top_inner .left_part {
    position: relative;
    width: 60%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}
.footer .footer_top .top_inner .left_part .footer_logo {
    position: relative;
    display: flex;
    width: 160px;
}
.footer .footer_top .top_inner .left_part .footer_logo img {
    position: relative;
    height: max-content;
    width: 100%;
    object-fit: contain;
}
.footer .footer_top .top_inner .left_part p {
    position: relative;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    color: var(--light-color);
}
.footer .footer_top .top_inner .left_part .left_part_item {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer .footer_top .top_inner .left_part .left_part_item a {
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: var(--light-color);
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}
.footer .footer_top .top_inner .left_part .left_part_item a:last-child {
    margin-right: 0;
}
.footer .footer_top .top_inner .left_part .left_part_item a:hover {
    color: var(--theme-color-2);
}
.footer .footer_top .top_inner .right_part {
    position: relative;
    width: 40%;
    display: flex;
}
.footer .footer_top .top_inner .right_part .part_box {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.footer .footer_top .top_inner .right_part .part_box h5 {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: var(--light-color);
}
.footer .footer_top .top_inner .right_part .part_box ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.footer .footer_top .top_inner .right_part .part_box ul a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 12px;
    color: var(--light-color);
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 400;
    opacity: 0.8;
}
.footer .footer_top .top_inner .right_part .part_box ul a:hover {
    opacity: 1;
    transition: all 0.5s;
}
.footer .footer_top .top_inner .right_part .part_box ul a i {
    position: relative;
    font-size: 12px;
    margin-right: 5px;
    transition: all 0.5s;
}
.footer .footer_top .top_inner .right_part .part_box ul a:hover i {
    margin-right: 10px;
    transition: all 0.5s;
}
.footer .footer_top .top_inner .right_part .part_box ul span {
    position: relative;
    width: 100px;
    height: 30px;
    display: flex;
    margin-top: 15px;
}
.footer .footer_top .top_inner .right_part .part_box ul span img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.footer .footer_bottom {
    position: relative;
    width: 1320px;
    padding: 15px 0;
}
.footer .footer_bottom .bottom_inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer .footer_bottom .bottom_inner p {
    position: relative;
    font-size: 13px;
    color: var(--light-color);
    font-weight: 400;
}
.footer .footer_bottom .bottom_inner .social_media_sec {
    position: relative;
    margin-left: auto;
    display: flex;
}
.footer .footer_bottom .bottom_inner .social_media_sec a {
    position: relative;
    font-size: 17px;
    color: var(--light-color);
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}
.footer .footer_bottom .bottom_inner .social_media_sec a:last-child {
    margin-right: 0;
}

