.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 10;
    background: var(--light-background);
    /* background: transparent; */
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
.navbar.navbar_scrolled {
    /* background: var(--theme-color); */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.navbar .navbar_inner {
    position: relative;
    width: 1320px;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar .navbar_inner .logo {
    position: relative;
    width: 160px;
    height: 100%;
    display: flex;
}
.navbar .navbar_inner .logo img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar .navbar_inner .nav_items {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar .navbar_inner .nav_items a {
    position: relative;
    width: auto;
    margin-right: 35px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: var(--theme-color);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}
/* .navbar.navbar_scrolled .navbar_inner .nav_items a {
    color: var(--light-color);
    opacity: 1;
} */
.navbar .navbar_inner .nav_items a:last-child {
    margin-right: 0;
}
.navbar .navbar_inner .nav_items a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--theme-color);
  transition: width 0.7s ease;
}
.navbar .navbar_inner .nav_items a:hover:before {
  width: 100%;
  transition: width 0.7s ease;
}

.navbar .navbar_inner .nav_items a:hover {
  opacity: 1;
}
.navbar .navbar_inner .nav_btn {
  position: relative;
  margin-left: 60px;
  display: flex;
}
.navbar .navbar_inner .nav_btn button {
  position: relative;
  padding: 10px 20px;
  background: var(--theme-color);
  color: var(--light-color);
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
}