.service_background {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 350px;
    display: flex;
    /* z-index: 5; */
}
.service_background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #2c2b2bf5 0%, rgba(30, 28, 28, 0.76) 30%, rgba(10, 10, 10, 0.77) 50%, rgba(26, 25, 25, 0.77) 100%);
}
.service_background img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home_section {
    position: relative;
    width: 1320px;
    display: flex;
}
.home_section .home_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.service_heading_section {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}
.service_heading_section h2 {
    position: relative;
    color: var(--light-color);
    font-size: 47px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}
.service_heading_section h2 span {
    color: var(--theme-color);
}
.service_heading_section p {
    position: relative;
    color: var(--light-color);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.service_provide_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.service_provide_section .provide_heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.service_provide_section .provide_heading a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.service_provide_section .provide_heading h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.service_provide_section .provide_heading h3 span {
    color: var(--theme-color);
}
.service_provide_section .servie_box_sec {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
}
.service_provide_section .servie_box_sec .sec_box {
    position: relative;
    width: 32%;
    padding: 15px 20px;
    background: var(--grey-background-2);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 25px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transition-delay: calc(var(--i) * 0.25s);
}
.service_provide_section .servie_box_sec .sec_box {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    transition-delay: calc(var(--i) * 0.25s);
}
.service_provide_section .servie_box_sec .sec_box a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--light-color);
}
.service_provide_section .servie_box_sec .sec_box h5 {
    position: relative;
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 500;
    margin: 7px 0;
}
.service_provide_section .servie_box_sec .sec_box p {
    position: relative;
    font-size: 13px;
    color: var(--gray-color);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} 

/* ============ technology_service_section ========== */

.technology_service_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
} 
.technology_service_section .technology_heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.technology_service_section .technology_heading a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.technology_service_section .technology_heading h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.technology_service_section .technology_heading h3 span {
    color: var(--theme-color);
}       
.technology_service_section .technology_use_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.technology_service_section .technology_use_sec .tech_box {
    position: relative;
    width: 18.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: var(--grey-background-2);
    border-radius: 8px;
    margin-bottom: 20px;
}
.technology_service_section .technology_use_sec .tech_box a {
    position: relative;
    font-size: 19px;
    color: var(--theme-color);
    text-decoration: none;
}
.technology_service_section .technology_use_sec .tech_box p {
    position: relative;
    font-size: 17px;
    color: var(--blue-color);
    font-weight: 500;
    letter-spacing: 1.5px;
}
.technology_service_section .technology_use_sec .tech_box span {
    position: relative;
    font-size: 19px;
    color: var(--theme-color);
    font-weight: 500;
    margin-top: 5px;
}

/* =========== needUs ========= */


.needUs_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
} 
.needUs_section .needUs_heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.needUs_section .needUs_heading a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.needUs_section .needUs_heading h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.needUs_section .needUs_heading h3 span {
    color: var(--theme-color);
}
.needUs_section .needs_content_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
}
.needUs_section .needs_content_sec .need_left {
    position: relative;
    width: 45%;
    display: flex;
}
.needUs_section .needs_content_sec .need_left .video_sec {
    position: relative;
    width: 100%;
    /* height: 300px; */
    display: flex;
    overflow: hidden;
}
.needUs_section .needs_content_sec .need_left .video_sec video {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.needUs_section .needs_content_sec .need_left .video_sec .play_btn {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    z-index: 2;
}
.needUs_section .needs_content_sec .need_left .video_sec .play_btn:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.8);
}

.needUs_section .needs_content_sec .need_right {
    position: relative;
    width: 55%;
    display: flex;
    padding-left: 40px;
}
.needUs_section .needs_content_sec .need_right .inner_right {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.needUs_section .needs_content_sec .need_right .inner_right .inner_box {
    position: relative;
    width: 48.5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.needUs_section .needs_content_sec .need_right .inner_right .inner_box a {
    position: relative;
    font-size: 21px;
    color: var(--theme-color);
    text-decoration: none;
}
.needUs_section .needs_content_sec .need_right .inner_right .inner_box h5 {
    position: relative;
    font-size: 17px;
    color: var(--blue-color);
    font-weight: 500;
    line-height: 1;
    margin: 10px 0;
}
.needUs_section .needs_content_sec .need_right .inner_right .inner_box p {
    position: relative;
    font-size: 12px;
    color: var(--gray-color);
    font-weight: 400;
}

/* =========  contact_us_section ========== */
.contact_us_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}     
.contact_us_section .sec_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact_us_section .sec_head a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.contact_us_section .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.contact_us_section .sec_head h3 span {
    color: var(--theme-color);
}       
.contact_us_section .contact_sec_content {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
}       
.contact_us_section .contact_sec_content .contact_form {
    position: relative;
    width: calc(100% - 400px);
    display: flex;
}       
.contact_us_section .contact_sec_content .contact_form form {
    position: relative;
    width: 100%;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    
.fullwidth {
    width: 100%;
}   
.halfwidth {
    width: 48%;
}   
.contact_us_section .contact_sec_content .contact_form form .input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}       
.contact_us_section .contact_sec_content .contact_form form .input_box span {
    position: relative;
    font-size: 13px;
    color: var(--gray-color);
    font-weight: 400;
}       
.contact_us_section .contact_sec_content .contact_form form .input_box input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}    
.contact_us_section .contact_sec_content .contact_form form .input_box textarea {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 10px;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
    resize: none;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}    
.contact_us_section .contact_sec_content .contact_form form .btn_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: flex-start;
}    
.contact_us_section .contact_sec_content .contact_form form .btn_sec button {
    position: relative;
    padding: 8px 25px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background: var(--theme-color);
    cursor: pointer;
    color: var(--light-color);
}    
.contact_us_section .contact_sec_content .contact_items {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background: var(--blue-color);
    border-radius: 12px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box:last-child {
    margin-bottom: 0;
}       
.contact_us_section .contact_sec_content .contact_items .item_box h6 {
    position: relative;
    font-size: 17px;
    color: var(--light-color);
    font-weight: 600;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li {
    position: relative;
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li p {
    position: relative;
    font-size: 13px;
    color: var(--light-color);
    font-weight: 400;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li p span {
    margin-left: 7px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box .social_media_sec a {
    position: relative;
    width: 35px;
    height: 35px;
    background: var(--theme-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}       
.contact_us_section .contact_sec_content .contact_items .item_box li a:last-child {
    margin-right: 0;
}    

/* =========== faq_section ======== */

.faq_section {
    position: relative;
    width: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}
.faq_section .sec_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.faq_section .sec_head a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
}
.faq_section .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 10px 0;
}
.faq_section .sec_head h3 span {
    color: var(--theme-color);
}
.faq_section .faq_content_sec {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.faq_section .faq_content_sec .faq_box {
    position: relative;
    width: 49%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
.faq_section .faq_content_sec .faq_box:last-child {
    margin-bottom: 0;
}
.faq_section .faq_content_sec .faq_box .box_top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq_section .faq_content_sec .faq_box .box_top h6 {
    position: relative;
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 500;
}
.faq_section .faq_content_sec .faq_box .box_top a {
    position: relative;
    font-size: 14px;
    color: var(--dark-color);
    text-decoration: none;
    cursor: pointer;
}
.faq_section .faq_content_sec .faq_box .box_top a i {
    transition: transform 0.3s ease;
}
.faq_section .faq_content_sec .faq_box.active .box_top a i {
    transform: rotate(180deg);
}
.faq_section .faq_content_sec .faq_box .box_bottom {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    border-top: transparent;
    transition: all 0.3s ease;
}
.faq_section .faq_content_sec .faq_box.active .box_bottom {
    max-height: 200px;
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid var(--gray-color);
    transition: all 0.3s ease;
}
.faq_section .faq_content_sec .faq_box .box_bottom p {
    position: relative;
    width: 100%;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 400;
}

