* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark-color: rgb(0, 0, 0, 1);
    --gray-color: rgb(177, 176, 176);
    --light-color: rgb(255, 255, 255, 1);
    --light-background: rgb(255, 255, 255, 1);
    --background: rgba(255, 255, 255, 0.25);
    --green-color: rgba(37, 210, 103, 0.875);
    --dark-border: rgba(0, 0, 0, 0.1);
    --light-border: rgba(240, 240, 240, 0.45);
    --grey-background-2: rgba(245, 245, 245, 1);
    --grey-background-4: rgba(224, 225, 220, 1);
    --grey-background-5: rgba(217, 217, 217, 1);
    --modal-background: rgba(6, 6, 6, 0.4);
    --theme-color: rgb(79, 172, 254);
    --orange-color: rgb(249, 143, 14);
    --red-color: rgb(255, 0, 0);
    --theme-color-2: rgb(0, 242, 254);
    --blue-color: #02083A

}

.page_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page_wrapper .wrapper_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background_overlay {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}
.background_overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #2c2b2bf5 0%, rgba(30, 28, 28, 0.76) 30%, rgba(10, 10, 10, 0.77) 50%, rgba(26, 25, 25, 0.77) 100%);
}
.background_overlay video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.floating_icon_sec {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    background: var(--theme-color);
    padding: 8px 15px;
    border-radius: 30px;
    z-index: 19;
    cursor: pointer;
    overflow: hidden;
}
.floating_icon_sec .icon_box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    right: 0;
    transition: all 0.5s ease;
}
.floating_icon_sec .icon_box.inActive {
    opacity: 0;
    right: -100%;
    visibility: hidden;
    pointer-events: none;
    display: none;
}
.floating_icon_sec.active .icon_box {
    opacity: 0;
    right: -100%;
    display: none;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
}
.floating_icon_sec.active .icon_box.inActive {
    opacity: 1;
    right: 0;
    visibility: visible;
    pointer-events: initial;
    transition: all 0.5s ease;
    display: flex;
}
.floating_icon_sec .icon_box a {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: var(--light-color);
    background: var(--light-border);
    cursor: pointer;
    text-decoration: none;
}
.floating_icon_sec .icon_box p {
    position: relative;
    font-size: 13px;
    color: var(--light-color);
    font-weight: 500;
    margin-left: 10px;
}


.floating_messege_sec {
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 19;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(150px);
    transition: all 0.5s ease;
}
.floating_messege_sec.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateY(0);
    transition: all 0.5s ease;
}
.floating_messege_sec .messege_inner {
    position: relative;
    width: 450px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--grey-background-5);
}
.floating_messege_sec .messege_inner .floating_heading {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: var(--theme-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content .head_image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content .head_image img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content .heading_item {
    position: relative;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content .heading_item h6 {
    position: relative;
    font-size: 15px;
    color: var(--light-color);
    font-weight: 500;
    line-height: 1;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content .heading_item p {
    position: relative;
    font-size: 11px;
    display: flex;
    align-items: center;
    color: var(--light-color);
    font-weight: 400;
    margin-top: 4px;
}
.floating_messege_sec .messege_inner .floating_heading .heading_content .heading_item p span {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--light-color);
    margin-right: 3px;
}

.floating_messege_sec .messege_inner .floating_heading .close_sec {
    position: relative;
    margin-left: auto;
    width: 40px;
    display: flex;
    justify-content: flex-end;
}
.floating_messege_sec .messege_inner .floating_heading .close_sec a {
    position: relative;
    margin-left: auto;
    font-size: 15px;
    color: var(--light-color);
    cursor: pointer;
}
.floating_messege_sec .messege_inner .messege_body {
    position: relative;
    width: 100%;
    padding: 10px 20px;
}
.floating_messege_sec .messege_inner .messege_body .body_inner {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.floating_messege_sec .messege_inner .messege_body .body_inner::-webkit-scrollbar {
    display: none;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box:last-child {
    margin-bottom: 0;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box:nth-of-type(even) {
    flex-direction: row-reverse;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box .box_image {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box .box_image img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box .box_content {
    position: relative;
    width: calc(100% - 35px);
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box:nth-of-type(even) .box_content {
    padding-right: 10px;
    justify-content: flex-end;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box .box_content p {
    position: relative;
    width: auto;
    display: flex;
    padding: 10px;
    border: 1px solid var(--gray-color);
    font-size: 12px;
    color: var(--dark-color);
    background: var(--light-background);
    font-weight: 400;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: flex-start;
}
.floating_messege_sec .messege_inner .messege_body .body_inner .messege_box:nth-of-type(even) .box_content p {
    border-top-right-radius: 0;
    border-top-left-radius: 8px;
    background: var(--theme-color);
    color: var(--light-color);
    border: none;
}

.floating_messege_sec .messege_inner .messege_btn_sec {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--dark-color)
}
.floating_messege_sec .messege_inner .messege_btn_sec .input_box {
    position: relative;
    width: 100%;
    height: 40px;
    background: var(--light-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.floating_messege_sec .messege_inner .messege_btn_sec .input_box input {
    position: relative;
    width: calc(100% - 40px);
    height: 100%;
    font-size: 12px;
    color: var(--blue-color);
    font-weight: 400;
    outline: none;
    background: transparent;
    border: none;
    padding: 0 15px;
}
.floating_messege_sec .messege_inner .messege_btn_sec .input_box span {
    position: relative;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    color: var(--theme-color);
}